.about {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
  cursor: pointer;
}

.about-text {
  display: none;
  margin-top: 10px;
}