@font-face {
  font-family: 'Cinzel Decorative';
  src: local('Cinzel Decorative'), url(./CinzelDecorative-Regular.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

body{
  background: url('subtle_white_feathers.png');
}

.App {
  
}