.card {
  position: relative;
  display: inline-block;
  margin: 8px;
  padding: 4px;
  border-radius: 4px;
  max-width: 43%;
  background-color: #fff;
  flex: 1 0 auto;
  cursor: pointer;
}

@media (min-width: 400px) {
  .card {
    max-width: 180px;
  }
}

@media (min-width: 1900px) {
  .card {
    max-width: 220px;
  }
}

.card:hover {
  box-shadow: 0 0 1px 4px rgb(255, 238, 0);
}

.card img {
  position: static;
  width: 99%;
  border: 1px solid #000;
  border-radius: 4px;
}

.card div {
  display: none;
  position: absolute;
  padding: 5px 12px 20px 5px;
  font-size: 11px;
  background-color:#fff;
  opacity: .85;
  bottom: 5px;
  pointer-events: none;
}

.card h2 {
  font-family: "Cinzel Decorative", sans-serif;
  font-size: 16px;
}

.r {
  background-color: #000!important;
  color: #fff;
}

.reversed {
  transform: rotateX(180deg);
}