.card-table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 150px;
  max-width: 980px;
  
}
@media (min-width: 400px) {
  .card-table {
    margin: auto;
  }
}

.loading {
  font-family: "Cinzel Decorative", sans-serif;
  margin: auto;
}