.deck-controls {
  position: fixed;
  top: 10px;
  left: 10px;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
  width: 323px;
  text-align: center;
}
@media (min-width: 400px) {
  .deck-controls {
    left: 50%;
    transform: translateX(-50%);
  }
}


.deck-controls div {
  margin-top: 10px;
}
.deck-controls h2 {
  font-family: "Cinzel Decorative", sans-serif;
  
}

.deck-controls button {
  padding: 5px;
  background-color: skyblue;
  border: none;
  border-radius: 3px;
  color: #fff;
  transition: background-color .3s;
  cursor: pointer;  
}

.deck-controls button:hover {
  background-color: rgb(70, 159, 233);
}


.deck-controls button ~ button {
  margin-left: 5px;
  
}